.intro {
  background-color: red;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

/* div`: a red background, white text, a font size of 32px, center aligned,
  and bold */
  ----------------------------------------------------------------
  /* Exercise 2
  * **All odd numbered elements**: a light red/pink background, and a list of
      fonts containing `Verdana` and `DejaVu Sans` with `sans-serif` as a fallback
  * **The second element**: blue text and a font size of 36px
  * **The third element**: in addition to the styles for all odd numbered
      elements, add a font size of 24px
  * **The fourth element**: a light green background, a font size of 24px, and bold */

  p.odd {
    background-color: rgb(238, 131, 165);
  }
