@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300&family=Oswald:wght@300&display=swap');
body {
  background-color: #C8D6E0;
  font-family: 'Dongle', sans-serif;
  font-size: 28px;
}
.main {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  background-color: #939466
}
.swe {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
}

a:link {
  text-decoration: none;
  color: #C8D6E0;
}

a:visited {
  color: #946E6D;
}

.intro h3{
  color: #946E6D;
  font-size: 48px;
}

.intro p {
  color: #C8D6E0;
}
